<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>kurumi-bot</string> 
    <key>OnDemand</key>
    <false/>

    <key>ProgramArguments</key>
    <array>
            <string>open</string>
            <string>/usr/local/lib/kurumi-bot.sh</string>
    </array>
    
    <key>LaunchOnlyOnce</key>
    <true/>
</dict>
</plist>
